Repository flipperdevices/flipper-application-catalog, pull requests merged in 2023-11, with the labels that each got.

#177 pokemon: bump to 1.4
  applications/GPIO/pokemon/manifest.yml
Labels: app (update), QA pending

#178 Hangman game was updated
  applications/Games/hangman/manifest.yml
Labels: app (update), QA pending

#180 Add WCH SWIO Flasher v1.0
  applications/Tools/wch_swio_flasher/README.md
  applications/Tools/wch_swio_flasher/manifest.yml
Labels: app (new), QA pending

#181 Good-faps for 0.95-rc
  applications/Games/citybloxx/README.md
  applications/Games/hangman/README.md
  applications/Games/questions/README.md
  applications/NFC/nfc_magic/manifest.yml
  applications/NFC/picopass/manifest.yml
  applications/Sub-GHz/weather_station/manifest.yml
  applications/USB/mass_storage/manifest.yml
Labels: app (update)

#182 Add mhz19 uart app
  applications/GPIO/mhz19_uart/README.md
  applications/GPIO/mhz19_uart/manifest.yml
Labels: app (new), QA pending

#176 Upgrade to v2.0
  applications/Tools/hex_viewer/manifest.yml
Labels: app (update), repo change, fixes needed

#197 Add manifest.yml for usb_ccb
  applications/USB/usb_ccb/manifest.yml
Labels: app (new), QA pending

#199 Added IR Timing setting to Cross Remote
  applications/Infrared/xremote/manifest.yml
Labels: app (update)

#198 Seader 2.0: basically a beta
  applications/NFC/seader/manifest.yml
Labels: app (update)
