Repository flipperdevices/flipper-application-catalog, pull requests merged in 2023-12, with the labels that each got.

#211 Add Malveke Apps manifest
  applications/GPIO/malveke_gb_cartridge/manifest.yml
  applications/GPIO/malveke_gb_link_camera/manifest.yml
  applications/GPIO/malveke_gb_live_camera/manifest.yml
  applications/GPIO/malveke_gba_cartridge/manifest.yml
  applications/GPIO/malveke_pokemon_trading/manifest.yml
Labels: app (new), fixes needed

#207 Update ublox to version 0.3
  applications/GPIO/ublox/manifest.yml
Labels: app (update), fixes needed

#216 Add knitting row counter app
  applications/Tools/knit_counter/manifest.yml
Labels: app (new), QA pending

#219 Seader: v2.1
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#222 Updated 3 apps to make them compatible with the latest API versions
  applications/Games/racso_sokoban/manifest.yml
  applications/Games/racso_ultimate_tic_tac_toe/manifest.yml
  applications/Games/racso_zero/manifest.yml
Labels: app (update), QA pending

#221 Hangman game was updated
  applications/Games/hangman/manifest.yml
Labels: app (update), QA pending

#223 Update Unitemp
  applications/GPIO/unitemp/manifest.yml
Labels: app (update), QA pending

#201 Update ESP flasher to v1.4
  applications/GPIO/esp_flasher/manifest.yml
Labels: app (update), fixes needed

#227 Picopass: update sha for v1.10
  applications/NFC/picopass/manifest.yml
Labels: app (update), QA pending

#228 Add Video player app
  applications/Media/video_player/manifest.yml
Labels: app (new), QA pending

#229 Update wifi marauder app to v0.6.6
  applications/GPIO/esp32_wifi_marauder/manifest.yml
Labels: app (update), QA pending

#232 GPIO/pokemon: bump to 1.5, remove malveke specific app
  applications/GPIO/malveke_pokemon_trading/manifest.yml
  applications/GPIO/pokemon/manifest.yml
Labels: app (update), QA pending

#233 Update NFC Magic to v1.4
  applications/NFC/nfc_magic/manifest.yml
Labels: app (update), QA pending
