Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-10, with the labels that each got.

#513 GPIO: flipper_gb_printer: bump to v0.2
  applications/GPIO/flipper_gb_printer/manifest.yml
Labels: app (update), QA pending

#515 Update uPython to 1.4
  applications/Tools/upython/manifest.yml
Labels: app (update), QA pending

#514 FastJS v1.2 (App Update)
  applications/Tools/fast_js_app/manifest.yml
Labels: app (update), QA pending

#519 Updated hc11_modem to 1.1
  applications/Sub-GHz/hc11_modem/manifest.yml
Labels: app (update), QA pending

#517 Web Crawler v0.1
  applications/GPIO/web_crawler/manifest.yml
Labels: app (new), fixes needed

#520 Web crawler v0.2
  applications/GPIO/web_crawler/manifest.yml
Labels: app (update), QA pending

#521 Initial checkin
  applications/Tools/lishi/manifest.yml
Labels: app (new), QA pending

#525 Update Web Crawler to 0.4
  applications/GPIO/web_crawler/manifest.yml
Labels: app (update), QA pending

#522 Update uPython to 1.5
  applications/Tools/upython/manifest.yml
Labels: app (update), fixes needed

#528 Add two apps
  applications/GPIO/eth_troubleshooter/README.md
  applications/GPIO/eth_troubleshooter/manifest.yml
  applications/Sub-GHz/esubghz_chat/README.md
  applications/Sub-GHz/esubghz_chat/manifest.yml
Labels: app (update), QA pending

#530 Update 1 App, Add 3 Apps
  applications/GPIO/flip_library/manifest.yml
  applications/GPIO/flip_social/manifest.yml
  applications/GPIO/web_crawler/manifest.yml
Labels: app (update), QA pending
