Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-09, with the labels that each got.

#483 Bump uPython version to 1.2
  applications/Tools/upython/manifest.yml
Labels: app (update), QA pending

#482 Laser Tag v2.0
  applications/Games/laser_tag/manifest.yml
Labels: app (update), QA pending

#480 feat(Tools): Add new rot13 app
  applications/Tools/rot13_app/manifest.yml
Labels: app (new), QA pending

#484 Update uPython to version 1.3
  applications/Tools/upython/manifest.yml
Labels: app (update), QA pending

#485 Update SubGHz Remote and Roots of Life
  applications/Games/roots_of_life/manifest.yml
  applications/Sub-GHz/subghz_remote_ofw/manifest.yml
Labels: app (update), QA pending

#486 Cyborg Detector v1.0
  applications/NFC/cyborg_detector/manifest.yml
Labels: app (update), QA pending

#487 Laser Tag v2.1
  applications/Games/laser_tag/manifest.yml
Labels: app (update), QA pending

#491 Quac! v0.7.0
  applications/Tools/quac/manifest.yml
Labels: app (update), QA pending

#489 Update good faps
  applications/GPIO/avr_isp/manifest.yml
  applications/GPIO/dap_link/manifest.yml
  applications/GPIO/signal_generator/manifest.yml
  applications/GPIO/spi_mem_manager/manifest.yml
  applications/GPIO/vgm_air_mouse/manifest.yml
  applications/NFC/nfc_magic/manifest.yml
  applications/Sub-GHz/weather_station/manifest.yml
  applications/Tools/nfc_rfid_detector/manifest.yml
  applications/Tools/video_game_module_tool/manifest.yml
  applications/USB/mass_storage/manifest.yml
Labels: app (update), QA pending

#490 Lifecounter v1.0
  applications/Games/lifecounter/manifest.yml
Labels: app (new), fixes needed

#492 Cyborg Detector v1.1
  applications/NFC/cyborg_detector/manifest.yml
Labels: app (update), QA pending

#493 Laser Tag v2.2
  applications/Games/laser_tag/manifest.yml
Labels: app (update), QA pending

#494 GPIO: flipper_gb_printer: Initial commit
  applications/GPIO/flipper_gb_printer/README.md
  applications/GPIO/flipper_gb_printer/manifest.yml
Labels: app (new), QA pending

#495 Laser Tag v2.3
  applications/Games/laser_tag/manifest.yml
Labels: app (update), QA pending

#499 Radio Scanner v0.2
  applications/Sub-GHz/radio_scanner/manifest.yml
Labels: app (new), QA pending

#500 Added Flipper95
  applications/Tools/flipper95/README.md
  applications/Tools/flipper95/manifest.yml
Labels: app (new), QA pending

#501 Update FlipBIP to v1.17
  applications/Tools/flipbip/manifest.yml
Labels: app (update), QA pending

#503 Seader v3.2
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#505 Umpire Indicator v0.1
  applications/Games/umpire_indicator/manifest.yml
Labels: app (new), QA pending

#507 Initial checkin
  applications/Games/flight_assault/manifest.yml
Labels: app (update), QA pending

#508 FastJS v1.0
  applications/Tools/fast_js_app/manifest.yml
Labels: app (new), QA pending

#509 FastJS v1.01
  applications/Tools/fast_js_app/manifest.yml
Labels: app (update), QA pending

#511 Massiv dash/trackerflipx 1.0.2
  applications/Tools/trackerflipx/manifest.yml
Labels: app (new), QA pending
