Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-03, with the labels that each got.

#285 Jamisonderek/air labyrinth 0.1
  applications/Games/air_labyrinth/README.md
  applications/Games/air_labyrinth/manifest.yml
Labels: app (new), QA pending

#287 DCF77 Clock Sync 1.0
  applications/Tools/dcf77_clock_sync/README.md
  applications/Tools/dcf77_clock_sync/manifest.yml
Labels: app (new), QA pending

#290 WS: Update version 1.5
  applications/Sub-GHz/weather_station/manifest.yml
Labels: app (update), QA pending

#296 Update nfc magic and picopass
  applications/NFC/nfc_magic/manifest.yml
  applications/NFC/picopass/manifest.yml
Labels: app (update), QA pending

#301 Update 4 apps to latest API
  applications/Games/doom/manifest.yml
  applications/Games/game_2048/manifest.yml
  applications/Tools/analog_clock/manifest.yml
  applications/Tools/dcf77/manifest.yml
Labels: app (update), QA pending

#299 Update BMI Air Mouse for 0.99.0-rc
  applications/GPIO/air_mouse/manifest.yml
Labels: app (update), QA pending

#298 MatthewKuKanich/findmyflipper_1.0
  applications/Bluetooth/findmy/manifest.yml
Labels: app (new), fixes needed

#302 Update MALVEKE Apps manifest 2.0
  applications/GPIO/malveke_gb_cartridge/manifest.yml
  applications/GPIO/malveke_gb_link_camera/manifest.yml
  applications/GPIO/malveke_gb_live_camera/manifest.yml
  applications/GPIO/malveke_gb_photo/manifest.yml
  applications/GPIO/malveke_gba_cartridge/manifest.yml
Labels: app (update), QA pending

#303 Update "Camera Suite" application to v1.7
  applications/GPIO/camera_suite/manifest.yml
Labels: app (update), QA pending

#297 Seader: v2.5
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#300 Armixz/programmercalc 0.9
  applications/Tools/programmercalc/manifest.yml
Labels: app (new), fixes needed

#295 Adding Quac!
  applications/Tools/quac/manifest.yml
Labels: app (new), fixes needed

#304 Update BMI Air Mouse
  applications/GPIO/air_mouse/manifest.yml
Labels: app (update), QA pending

#305 Update MALVEKE Apps manifest 2.1
  applications/GPIO/malveke_gb_cartridge/manifest.yml
  applications/GPIO/malveke_gb_link_camera/manifest.yml
  applications/GPIO/malveke_gb_live_camera/manifest.yml
  applications/GPIO/malveke_gb_photo/manifest.yml
  applications/GPIO/malveke_gba_cartridge/manifest.yml
Labels: app (update), QA pending

#306 armixz/programmercalc_v0.9.2
  applications/Tools/programmercalc/manifest.yml
Labels: app (update), QA pending

#307 Update wifi marauder app to v0.7.1
  applications/GPIO/esp32_wifi_marauder/manifest.yml
Labels: app (update), QA pending

#309 Update DCF77 Clock Sync to v1.3
  applications/Tools/dcf77_clock_sync/manifest.yml
Labels: app (update), QA pending

#310 HappyAmos/voltcalc_app_1.0
  applications/Tools/voltcalc_app/manifest.yml
Labels: app (new), QA pending

#311 Updated XRemote to v1.3
  applications/Infrared/flipper_xremote/manifest.yml
Labels: app (update), python

#313 Add Flippy Road game
  applications/Games/flippy_road/manifest.yml
Labels: app (new), QA pending

#314 Add flipper-hero game
  applications/Games/flipper_hero/manifest.yml
Labels: app (new), QA pending

#315 Update findmy @ V2.0
  applications/Bluetooth/findmy/manifest.yml
Labels: app (update), QA pending

#316 rock_paper_scissors version 1.5
  applications/Games/rock_paper_scissors/manifest.yml
Labels: app (update), QA pending

#317 AVR_ISP: Update version 1.3
  applications/GPIO/avr_isp/manifest.yml
Labels: app (update), QA pending

#318 Flizzer Tracker v0.6
  applications/Media/flizzer_tracker/manifest.yml
Labels: app (update), QA pending

#320 Update sudoku to support new sdk
  applications/Games/sudoku/manifest.yml
Labels: app (update), QA pending

#319 Update WCH SWIO Flasher v1.1 - fix typo in code
  applications/Tools/wch_swio_flasher/manifest.yml
Labels: app (update), fixes needed

#321 Update Questions to v1.1
  applications/Games/questions/manifest.yml
Labels: app (update), QA pending
