Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-12, with the labels that each got.

#567 Update ublox to version 0.5
  applications/GPIO/ublox/manifest.yml
Labels: app (update), QA pending

#570 Update marauder app to v0.7.2
  applications/GPIO/esp32_wifi_marauder/manifest.yml
Labels: app (update)

#569 Pinball0 v0.5
  applications/Games/pinball0/manifest.yml
Labels: app (update), QA pending

#565 Metroflip
  applications/NFC/metroflip/manifest.yml
Labels: app (new), QA pending

#571 Update FlipSocial to v0.8
  applications/GPIO/flip_social/manifest.yml
Labels: app (update), QA pending

#573 Metroflip v0.2
  applications/NFC/metroflip/manifest.yml
Labels: app (update), QA pending

#574 Update chess to fix illegal move bug
  applications/Games/chess/manifest.yml
Labels: app (update), QA pending

#576 Color Guess Update v1.6
  applications/Games/color_guess/manifest.yml
Labels: app (update), QA pending

#578 Metroflip v0.3
  applications/NFC/metroflip/manifest.yml
Labels: app (update), QA pending

#577 Added Flipper SPI terminal v0.1
  applications/GPIO/flipper_spi_terminal/manifest.yml
Labels: app (new), QA pending

#579 SD SPI v0.3
  applications/GPIO/sd_spi_app/manifest.yml
Labels: app (new), QA pending

#580 Bump Seader to v3.3
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#581 Add FlipWorld v0.1
  applications/GPIO/flip_world/manifest.yml
Labels: app (new), QA pending

#583 Update FlipSocial to v1.0
  applications/GPIO/flip_social/manifest.yml
Labels: app (update), QA pending

#584 Add fmatrix v0.2
  applications/Tools/fmatrix/README.md
  applications/Tools/fmatrix/manifest.yml
Labels: app (new), QA pending
