Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-06, with the labels that each got.

#399 FlipBoard Keyboard v3.8
  applications/GPIO/flipboard_keyboard/manifest.yml
Labels: app (update), QA pending

#402 Added HC-11 wireless modem emulator app manifest
  applications/Sub-GHz/hc11_modem/manifest.yml
Labels: app (new), QA pending

#404 Update BMI Air Mouse
  applications/GPIO/air_mouse/manifest.yml
Labels: app (update), QA pending

#405 Five Nights at Flippers 1.3 update
  applications/Games/flipperzero_fnaf/manifest.yml
Labels: app (update), QA pending

#406 Unitemp 1.5 update
  applications/GPIO/unitemp/manifest.yml
Labels: app (update), QA pending

#407 Theageoflove/zeitraffer 1.2
  applications/GPIO/zeitraffer/README.md
  applications/GPIO/zeitraffer/manifest.yml
Labels: app (update), QA pending

#409 music_player: Update version 1.3
  applications/Media/music_player/manifest.yml
Labels: app (update), QA pending

#410 Clock: Update version 1.2
  applications/Tools/clock/manifest.yml
Labels: app (update), QA pending

#411 Mfkey32: Update version 2.3
  applications/NFC/mfkey/README.md
  applications/NFC/mfkey/manifest.yml
Labels: app (update), QA pending

#419 re-added mfkey v2.5
  applications/NFC/mfkey/README.md
  applications/NFC/mfkey/manifest.yml
Labels: app (update), QA pending

#420 triggering workflow
  applications/NFC/mfkey/README.md
Labels: QA pending, github_actions

#413 Feature/leedave/xremote 2.6
  applications/Infrared/xremote/manifest.yml
Labels: app (update), QA pending

#415 Dice D&D app: Update to version 1.3
  applications/Games/dice_app/manifest.yml
Labels: app (update), QA pending

#416 NEW FAP: Flipper Tasks 1.0
  applications/Tools/tasks/manifest.yml
Labels: app (new), QA pending

#422 New app: NFC URL
  applications/NFC/nfcurl/manifest.yml
Labels: app (new), QA pending

#423 Nfc_Rfid_detector: update version 1.3
  applications/Tools/nfc_rfid_detector/manifest.yml
Labels: app (update), QA pending

#424 Picopass v1.6
  applications/NFC/picopass/manifest.yml
Labels: app (update), QA pending

#425 qrcode v2.1
  applications/Tools/qrcode/manifest.yml
Labels: app (update), QA pending

#426 Seader 2.9
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#427 Digimon F-Com v1.4 (Initial application)
  applications/GPIO/fcom/README.md
  applications/GPIO/fcom/manifest.yml
Labels: app (new), QA pending

#417 Bump IR Intervalometer Version to 0.2.2
  applications/Infrared/ir_intervalometer/manifest.yml
Labels: app (update), QA pending
