Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-08, with the labels that each got.

#442 Molodos/dcf77 clock spoof 1.0
  applications/Tools/dcf77_clock_spoof/README.md
  applications/Tools/dcf77_clock_spoof/manifest.yml
Labels: app (new), QA pending

#443 fmf_to_sub v1.0
  applications/Sub-GHz/fmf_to_sub/manifest.yml
Labels: app (new), QA pending

#444 New App: T5577 Raw Writer v1.2
  applications/RFID/t5577_writer/manifest.yml
Labels: app (new), QA pending

#445 Jamisonderek/flipboard signal 3.12
  applications/GPIO/flipboard_signal/manifest.yml
Labels: app (update), QA pending

#447 New App: Key Copier v1.0
  applications/Tools/key_copier/manifest.yml
Labels: app (new), QA pending

#448 fmf_to_sub 1.2
  applications/Sub-GHz/fmf_to_sub/manifest.yml
Labels: app (update), QA pending

#446 GPIO: pokemon: bump to 2.1
  applications/GPIO/pokemon/manifest.yml
Labels: app (update), repo change, QA pending

#449 Bump flipperscope to v0.3
  applications/GPIO/flipperscope/manifest.yml
Labels: app (update), QA pending

#450 Update Knit Counter version to fix build failure
  applications/Tools/knit_counter/manifest.yml
Labels: app (update), QA pending

#451 Chess 1.11
  applications/Games/chess/manifest.yml
Labels: app (update), QA pending

#452 Bump flipperzero clock to v1.2
  applications/Tools/flipperzero_clock/manifest.yml
Labels: app (update), QA pending

#453 Seader v3.0
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#454 Update BMI Air Mouse
  applications/GPIO/air_mouse/manifest.yml
Labels: app (update), QA pending

#456 New App: eightball
  applications/Games/eightball/README.md
  applications/Games/eightball/manifest.yml
Labels: app (new), QA pending

#457 Update Flizzer Tracker
  applications/Media/flizzer_tracker/manifest.yml
Labels: app (update), fixes needed, QA pending

#458 Update ESP flasher to v1.6
  applications/GPIO/esp_flasher/manifest.yml
Labels: app (update), QA pending

#464 Update Cross Remote v2.7
  applications/Infrared/xremote/manifest.yml
Labels: app (update), QA pending

#466 Seader v3.1
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#476 Laser Tag v1.1
  applications/Games/laser_tag/manifest.yml
Labels: app (update)

#478 Flipper Tasks v1.1
  applications/Tools/tasks/manifest.yml
Labels: app (update), QA pending

#479 Simultaneous_uhf_rfid_reader_1.1
  applications/GPIO/simultaneous_rfid_reader/manifest.yml
Labels: app (new), QA pending
