Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-11, with the labels that each got.

#541 [NFC Magic] Application update
  applications/NFC/nfc_magic/manifest.yml
Labels: app (update), QA pending

#542 Bump MFKey version to v3.0
  applications/NFC/mfkey/manifest.yml
Labels: app (update), QA pending

#538 Added Authenticator v5.16.1
  applications/Tools/totp/manifest.yml
Labels: app (new), QA pending

#543 Version 0.2
  applications/Tools/lishi/manifest.yml
Labels: app (update), repo change, QA pending

#539 banana v0.1
  applications/Games/banana/manifest.yml
Labels: app (new), QA pending

#545 Update Banana v0.4
  applications/Games/banana/manifest.yml
Labels: app (update), QA pending

#546 Update FlipSocial to 0.6
  applications/GPIO/flip_social/manifest.yml
Labels: app (update), QA pending

#548 Add NFC Maker v1.2
  applications/NFC/nfc_maker/README.md
  applications/NFC/nfc_maker/manifest.yml
Labels: app (new), QA pending

#550 Add Fencing Testbox v0.1
  applications/GPIO/fencing_testbox/README.md
  applications/GPIO/fencing_testbox/manifest.yml
Labels: app (new), QA pending

#551 Update 5 FlipperHTTP apps
  applications/GPIO/flip_library/manifest.yml
  applications/GPIO/flip_trader/manifest.yml
  applications/GPIO/flip_weather/manifest.yml
  applications/GPIO/flip_wifi/manifest.yml
  applications/GPIO/web_crawler/manifest.yml
Labels: app (update), QA pending

#552 image_viewer_0.1
  applications/Media/image_viewer/manifest.yml
Labels: app (new), QA pending

#553 Add manifest.yml for Gemini IA
  applications/GPIO/gemini_ia/manifest.yml
Labels: app (new), QA pending

#555 FlipSocial Security Update (v0.6.2)
  applications/GPIO/flip_social/manifest.yml
Labels: app (update), fixes needed

#561 Update Flip library to v1.3
  applications/GPIO/flip_library/manifest.yml
Labels: app (update), QA pending

#563 Update 4 FlipperHTTP apps
  applications/GPIO/flip_trader/manifest.yml
  applications/GPIO/flip_weather/manifest.yml
  applications/GPIO/flip_wifi/manifest.yml
  applications/GPIO/web_crawler/manifest.yml
Labels: app (update), QA pending
