Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-01, with the labels that each got.

#240 Seader: Bump to v2.2
  applications/NFC/seader/manifest.yml
Labels: app (update), fixes needed

#243 dlvoy/game vexed 1.0.1
  applications/Games/game_vexed/README.md
  applications/Games/game_vexed/manifest.yml
Labels: app (new), QA pending

#246 Update Color Guess v1.3
  applications/Games/color_guess/manifest.yml
Labels: app (update), QA pending

#247 Cross Remote v1.1
  applications/Infrared/xremote/manifest.yml
Labels: app (update), QA pending

#249 Update WS v1.3
  applications/Sub-GHz/weather_station/manifest.yml
Labels: app (update), QA pending

#248 v1.3: Async eggs; new Pause screen
  applications/Games/nupogodi/manifest.yml
Labels: app (update), QA pending

#245 Update Pokemon Trading App manifest
  applications/GPIO/pokemon/manifest.yml
Labels: app (update), fixes needed

#250 Added manifest.yml for my Mine Sweeper game.
  applications/Games/minesweeper_redux/manifest.yml
Labels: app (new), QA pending

#259 MIFARE Classic Editor
  applications/NFC/mfc_editor/manifest.yml
Labels: app (new), QA pending

#260 Update "Camera Suite" application to v1.6
  applications/GPIO/camera_suite/manifest.yml
Labels: app (update), QA pending

#261 Five Nights at Flipper's 1.2 update
  applications/Games/flipperzero_fnaf/manifest.yml
Labels: app (update), QA pending

#262 bc_scanner SDK 0.98.1 support
  applications/USB/bc_scanner/manifest.yml
Labels: app (update), QA pending
