Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-04, with the labels that each got.

#327 Flizzer Tracker small fixes
  applications/Media/flizzer_tracker/manifest.yml
Labels: app (update), QA pending

#324 Added Matagotchi 1.0
  applications/Games/matagotchi/README.md
  applications/Games/matagotchi/manifest.yml
Labels: app (new), QA pending

#325 HappyAmos/kcline_1.0
  applications/Games/kcline/manifest.yml
Labels: app (new), QA pending

#326 add dvd_screensaver
  applications/Media/dvd_screensaver/manifest.yml
Labels: app (new), QA pending

#328 Update Flizzer Tracker again...
  applications/Media/flizzer_tracker/manifest.yml
Labels: app (update), QA pending

#331 Update MALVEKE Apps manifest 2.2
  applications/GPIO/malveke_gb_cartridge/manifest.yml
  applications/GPIO/malveke_gb_photo/manifest.yml
  applications/GPIO/malveke_gba_cartridge/manifest.yml
Labels: app (update), QA pending

#330 Update NFC Magic
  applications/NFC/nfc_magic/manifest.yml
Labels: app (update), QA pending

#334 Cross Remote release 2.5
  applications/Infrared/xremote/manifest.yml
Labels: app (update), QA pending

#336 Added Noptel LRF rangefinder sampler app manifest
  applications/GPIO/noptel_lrf_sampler/manifest.yml
Labels: app (new), QA pending

#338 Update game Connect Wires to 1.1
  applications/Games/game_connect_wires/manifest.yml
Labels: app (update), QA pending

#339 HappyAmos/kcline_1.2
  applications/Games/kcline/manifest.yml
Labels: app (update), QA pending

#341 SDK 1.0.0 support (API 60.4)
  applications/GPIO/fn_test/manifest.yml
Labels: app (update), QA pending

#342 Updating Quac! to v0.6
  applications/Tools/quac/manifest.yml
Labels: app (update), QA pending

#350 Added FlipperZero Customizable Clock
  applications/Tools/flipperzero_clock/README.md
  applications/Tools/flipperzero_clock/manifest.yml
Labels: app (new), QA pending

#351 Update malveke_gb_photo 2.3
  applications/GPIO/malveke_gb_photo/manifest.yml
Labels: app (update), QA pending

#353 Update FlipperZero Clock to 1.1
  applications/Tools/flipperzero_clock/manifest.yml
Labels: app (update), QA pending

#348 Add Mitsubishi AC Remote
  applications/Infrared/mitsubishi_ac_remote/manifest.yml
Labels: app (new), fixes needed

#352 Seader: v2.7
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#357 Flizzer Tracker update
  applications/Media/flizzer_tracker/manifest.yml
Labels: app (update), QA pending

#361 Updated noptel_lrf_sampler to 1.4
  applications/GPIO/noptel_lrf_sampler/manifest.yml
Labels: app (update), QA pending

#366 Updated noptel_lrf_sampler to 1.5
  applications/GPIO/noptel_lrf_sampler/manifest.yml
Labels: app (update), QA pending

#367 Initial version
  applications/Games/flight_assault/manifest.yml
Labels: app (new), QA pending

#370 Added a game - Hanoi Towers
  applications/Games/game_hanoi_towers/manifest.yml
Labels: app (new), QA pending

#368 Picopass 1.14
  applications/NFC/picopass/manifest.yml
Labels: app (update), QA pending

#371 Updated noptel_lrf_sampler to 1.6
  applications/GPIO/noptel_lrf_sampler/manifest.yml
Labels: app (update), QA pending

#372 Flight Assault Version 0.2
  applications/Games/flight_assault/manifest.yml
Labels: app (update), QA pending
