Repository flipperdevices/flipper-application-catalog, pull requests merged in 2024-02, with the labels that each got.

#268 Update marauder app to v0.7.0
  applications/GPIO/esp32_wifi_marauder/manifest.yml
Labels: app (update), QA pending

#269 Update ESP Flasher to v1.5
  applications/GPIO/esp_flasher/manifest.yml
Labels: app (update), QA pending

#271 BMI160 Air Mouse app rename
  applications/GPIO/air_mouse/manifest.yml
Labels: app (update), fixes needed

#272 Add video game module tool
  applications/Tools/video_game_module_tool/README.md
  applications/Tools/video_game_module_tool/manifest.yml
Labels: app (new), QA pending

#275 VGM Air Mouse app
  applications/GPIO/vgm_air_mouse/README.md
  applications/GPIO/vgm_air_mouse/manifest.yml
Labels: app (new), QA pending

#276 Air Arkanoid game
  applications/Games/air_arkanoid/README.md
  applications/Games/air_arkanoid/manifest.yml
Labels: app (new), QA pending

#277 VGM apps: descriptions fix
  applications/GPIO/vgm_air_mouse/manifest.yml
  applications/Games/air_arkanoid/manifest.yml
  applications/Tools/video_game_module_tool/manifest.yml
Labels: app (update)

#267 Update Unitemp to 1.4
  applications/GPIO/unitemp/manifest.yml
Labels: app (update), fixes needed

#280 Calendar application v1.0
  applications/Tools/techart_calendar/manifest.yml
Labels: app (new), QA pending

#282 [FL-3773] Update Video Game Module Tool
  applications/Tools/video_game_module_tool/manifest.yml
Labels: app (update)
