Repository flipperdevices/flipper-application-catalog, pull requests merged in 2025-07, with the labels that each got.

#785 Update FlipDownloader to v1.2
  applications/GPIO/flip_downloader/manifest.yml
Labels: app (update), QA pending

#786 GhostESP v1.3
  applications/GPIO/ghost_esp/manifest.yml
Labels: app (update), QA pending

#787 Update FlipDownloader to v1.3.2
  applications/GPIO/flip_downloader/manifest.yml
Labels: app (update), QA pending

#790 Key copier 1.4
  applications/Tools/key_copier/manifest.yml
Labels: app (update), QA pending

#784 new gpio app: co2_logger
  applications/GPIO/co2_logger/manifest.yml
Labels: app (new), fixes needed

#789 Add USB-MIDI
  applications/Media/usb_midi/README.md
  applications/Media/usb_midi/manifest.yml
Labels: app (new), repo change, QA pending

#791 Adding hid_usb
  applications/Bluetooth/hid_ble/README.md
  applications/Bluetooth/hid_ble/manifest.yml
  applications/USB/hid_usb/README.md
  applications/USB/hid_usb/manifest.yml
Labels: app (new), repo change, QA pending

#793 Update FlipWorld to v1.0
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#804 Bump Metroflip to V0.9
  applications/NFC/metroflip/manifest.yml
Labels: app (update), QA pending

#796 Update ina_meter to v0.6
  applications/GPIO/ina_meter/manifest.yml
Labels: app (update), QA pending

#801 Update FlipCrypt to v0.3
  applications/Tools/flip_crypt/manifest.yml
Labels: app (update), QA pending

#797 Update sio2flip to v0.5
  applications/GPIO/sio2flip/manifest.yml
Labels: app (update), QA pending

#800 wiegand_reader 1.4
  applications/GPIO/wiegand_reader/README.md
  applications/GPIO/wiegand_reader/manifest.yml
Labels: app (new), QA pending
