Repository flipperdevices/flipper-application-catalog, pull requests merged in 2025-08, with the labels that each got.

#808 Update FlipCrypt to v0.4
  applications/Tools/flip_crypt/manifest.yml
Labels: app (update), QA pending

#807 Update flipper hero game to v1.3.0, add record table
  applications/Games/flipper_hero/manifest.yml
Labels: app (update), QA pending

#809 Update Xbox controller to v1.5
  applications/Infrared/xbox_controller/manifest.yml
Labels: app (update), QA pending

#792 Update gpio_sentry_safe v2.0
  applications/GPIO/gpio_sentry_safe/manifest.yml
Labels: app (update), repo change, QA pending

#763 Morse Master and Moon Phases
  applications/Media/morse_master/manifest.yml
  applications/Tools/moon_phases/manifest.yml
Labels: app (new), fixes needed

#810 Update FlipSocial to v2.0
  applications/GPIO/flip_social/manifest.yml
Labels: app (update), QA pending

#811 Update Key Copier v1.5
  applications/Tools/key_copier/manifest.yml
Labels: app (update), QA pending

#813 Update FlipCrypt to 0.5
  applications/Tools/flip_crypt/manifest.yml
Labels: app (update), QA pending

#816 Update marauder app to v0.7.5
  applications/GPIO/esp32_wifi_marauder/manifest.yml
Labels: app (update), QA pending

#824 flipper_share release v1.0
  applications/Sub-GHz/flipper_share/manifest.yml
Labels: app (new), QA pending

#830 bump to 1.1.1
  applications/GPIO/401_digilab/manifest.yml
Labels: app (update), QA pending

#820 Update esp flasher to v1.7
  applications/GPIO/esp_flasher/manifest.yml
Labels: app (update), QA pending

#823 Bump NFC Maker v2.1
  applications/NFC/nfc_maker/manifest.yml
Labels: app (update), QA pending

#829 Update FlipCrypt to v0.6
  applications/Tools/flip_crypt/manifest.yml
Labels: app (update), QA pending
