Repository flipperdevices/flipper-application-catalog, pull requests merged in 2025-03, with the labels that each got.

#646 Adds fighterjet game
  applications/Games/fighterjet/manifest.yml
Labels: app (new), QA pending

#648 Add INA Meter v0.1
  applications/GPIO/ina_meter/manifest.yml
Labels: app (new), QA pending

#647 Adding servotesterapp to the catalog
  applications/GPIO/servotesterapp/README.md
  applications/GPIO/servotesterapp/manifest.yml
Labels: app (new), QA pending

#650 Bump to v1.3
  applications/GPIO/401_light_msg/manifest.yml
Labels: app (update), QA pending

#651 Bump USB/portal_of_flipper to 1.2
  applications/USB/portal_of_flipper/manifest.yml
Labels: app (update), QA pending

#652 Update of original Servo Tester application
  applications/GPIO/servotester/README.md
  applications/GPIO/servotester/manifest.yml
Labels: app (update), QA pending

#653 Tuning Fork to 2.1
  applications/Media/tuning_fork/manifest.yml
Labels: app (update), QA pending

#654 Update FlipWorld to v0.6
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#655 Adds Space Impact II manifest
  applications/Games/spaceimpactii985e/manifest.yml
Labels: app (new), QA pending

#656 Haffnerriley/simultaneous rfid reader 1.1.1
  applications/GPIO/simultaneous_rfid_reader/manifest.yml
Labels: app (update), QA pending

#657 Update FlipWorld to 0.6.1 and FlipSocial to 1.0.4
  applications/GPIO/flip_social/manifest.yml
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#658 Bump INA Meter to v0.2
  applications/GPIO/ina_meter/manifest.yml
Labels: app (update), QA pending

#659 Update FlipWorld to v0.7
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#660 PC Monitor 1.1.0
  applications/Bluetooth/pc_monitor/manifest.yml
Labels: app (update), QA pending

#661 Flipper spi terminal v0.3
  applications/GPIO/flipper_spi_terminal/manifest.yml
Labels: app (update), QA pending

#663 PC Monitor README update
  applications/Bluetooth/pc_monitor/manifest.yml
Labels: app (update), QA pending

#665 Bump NFC Maker v2.0
  applications/NFC/nfc_maker/manifest.yml
Labels: app (update), QA pending

#664 Updated Authenticator to v5.17.1
  applications/Tools/totp/manifest.yml
Labels: app (update), fixes needed

#666 PC Monitor 1.1.2
  applications/Bluetooth/pc_monitor/manifest.yml
Labels: app (update), QA pending

#667 Bump INA Meter to v0.3
  applications/GPIO/ina_meter/manifest.yml
Labels: app (update), QA pending

#668 Key copier 1.3
  applications/Tools/key_copier/manifest.yml
Labels: app (update), QA pending

#669 Update FlipWiFi to v1.4
  applications/GPIO/flip_wifi/manifest.yml
Labels: app (update), QA pending
