Repository flipperdevices/flipper-application-catalog, pull requests merged in 2025-02, with the labels that each got.

#606 Bump NFC Maker v1.3
  applications/NFC/nfc_maker/manifest.yml
Labels: fixes needed, QA pending

#616 Update FlipWorld to v0.5
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#618 pinball0 v0.5.2 - bug fixes
  applications/Games/pinball0/manifest.yml
Labels: app (update), QA pending

#619 Bump Metroflip to v0.5
  applications/NFC/metroflip/manifest.yml
Labels: app (update), QA pending

#620 Quac! v0.7.2 - SDK 1.2 update
  applications/Tools/quac/manifest.yml
Labels: app (update), QA pending

#621 application initialization
  applications/GPIO/gpio_explorer_app/manifest.yml
Labels: app (new), QA pending

#622 Added longwave_clock v 0.1
  applications/GPIO/longwave_clock/manifest.yml
Labels: app (new), QA pending

#624 Sub-GHz Scheduler v2.0
  .gitignore
  applications/Sub-GHz/subghz_scheduler/manifest.yml
Labels: app (new)

#626 lightmessenger integration
  applications/GPIO/401_light_msg/manifest.yml
Labels: app (new), QA pending

#623 Add [VGM] Game Remote
  applications/GPIO/vgm_game_remote/manifest.yml
Labels: app (new), QA pending

#625 Cross Remote Version 3.1
  applications/Infrared/xremote/manifest.yml
Labels: app (update), QA pending

#629 Update meta data, application.fam and manifest.yaml
  applications/GPIO/401_light_msg/manifest.yml
Labels: app (update), QA pending

#630 Version 0.2
  applications/Tools/vin_decoder/manifest.yml
Labels: app (update), QA pending

#632 Added manifest for Pet Your Dolphin app
  applications/Tools/pet_your_dolphin/manifest.yml
Labels: app (new), QA pending

#627 Portal of Flipper v1.0
  applications/USB/portal_of_flipper/manifest.yml
Labels: app (new), QA pending

#638 Tixlegeek/401 light msg 1.2
  applications/GPIO/401_light_msg/manifest.yml
Labels: app (update)

#637 Bump Portal of Flipper to v1.1
  applications/USB/portal_of_flipper/manifest.yml
Labels: app (update), QA pending

#635 FordRadioCodes - Initial Release v0.1
  applications/Tools/fordradiocode/changelog.md
  applications/Tools/fordradiocode/manifest.yml
Labels: app (new), QA pending

#640 Cross Remote 3.2, new GPIO IR Support
  applications/Infrared/xremote/manifest.yml
Labels: app (update), QA pending

#639 Submission of DEADZONE
  applications/Games/deadzone/manifest.yml
Labels: app (new), QA pending

#641 LIDAR Emulator (v0.1)
  applications/Infrared/lidar_emulator/manifest.yml
Labels: app (new), QA pending

#642 GPIO: flipper_gb_printer: bump to v0.5
  applications/GPIO/flipper_gb_printer/manifest.yml
Labels: app (update), QA pending

#644 Update Key Copier 1.2
  applications/Tools/key_copier/manifest.yml
Labels: app (update), QA pending

#645 Updated Authenticator to v5.17.0
  applications/Tools/totp/manifest.yml
Labels: app (update), QA pending
