Repository flipperdevices/flipper-application-catalog, pull requests merged in 2025-05, with the labels that each got.

#732 Update Flame_RNG to v0.3
  applications/Infrared/flame_rng/manifest.yml
Labels: app (update), QA pending

#733 iButton converter v1.0
  applications/iButton/ibutton_converter/manifest.yml
Labels: app (new), QA pending

#734 Update SWD Probe
  applications/GPIO/swd_probe/manifest.yml
Labels: app (update), QA pending

#738 Update Simultaneous UHF RFID Reader v1.1.2
  applications/GPIO/simultaneous_rfid_reader/manifest.yml
Labels: app (update), QA pending

#566 Ghost ESP
  applications/GPIO/ghost_esp/manifest.yml
Labels: app (new), QA pending

#737 Update drifter v0.2
  applications/Games/drifter/manifest.yml
Labels: app (update), fixes needed

#746 bump to v1.4.1
  applications/GPIO/401_light_msg/manifest.yml
Labels: app (update)

#740 Updated Authenticator to v5.19.0
  applications/Tools/totp/manifest.yml
Labels: app (update), QA pending

#742 Update UDECard to v1.0.2
  applications/NFC/udecard/manifest.yml
Labels: app (update), QA pending

#743 fmatrix v0.3.5
  applications/Tools/fmatrix/README.md
  applications/Tools/fmatrix/manifest.yml
Labels: app (update), QA pending

#744 ibutton_converter v1.1
  applications/iButton/ibutton_converter/manifest.yml
Labels: app (update), QA pending

#745 Bump USB/portal_of_flipper to 1.3
  applications/USB/portal_of_flipper/manifest.yml
Labels: app (update), QA pending

#747 updated password_manager to 1.2
  applications/Tools/password_manager/manifest.yml
Labels: app (update), QA pending

#754 Add Combo Cracker application
  applications/Tools/combo_cracker/manifest.yml
Labels: app (update), QA pending

#753 Updated noptel_lrf_sampler to 2.2
  applications/GPIO/noptel_lrf_sampler/manifest.yml
Labels: app (update)

#750 Bump Seos compatible to v1.1
  applications/NFC/seos/manifest.yml
Labels: app (update), QA pending

#751 Update sio2flip to v0.4
  applications/GPIO/sio2flip/manifest.yml
Labels: app (update), QA pending

#752 Update "Camera Suite" application to v1.9
  applications/GPIO/camera_suite/manifest.yml
Labels: app (update), QA pending

#748 Vgm remote v1.1
  applications/GPIO/vgm_game_remote/manifest.yml
Labels: app (update), QA pending

#749 Add application 'QRCode Generator'
  applications/Tools/qrcode_generator/README.md
  applications/Tools/qrcode_generator/manifest.yml
Labels: app (new), QA pending

#741 Add Wave game v0.1 manifest
  applications/Games/wave/manifest.yml
Labels: app (new), fixes needed

#755 Quac v0.9.0
  applications/Tools/quac/manifest.yml
Labels: app (update), QA pending

#757 Add hitachi_ac_remote
  applications/Infrared/hitachi_ac_remote/README.md
  applications/Infrared/hitachi_ac_remote/manifest.yml
Labels: app (new), QA pending

#758 Added app 'Flip Crypt'
  applications/Tools/flip_crypt/manifest.yml
Labels: fixes needed, QA pending
