Repository flipperdevices/flipper-application-catalog, pull requests merged in 2025-09, with the labels that each got.

#836 flipper_share: v1.1: improved GUI, docs
  applications/Sub-GHz/flipper_share/manifest.yml
Labels: app (update), QA pending

#831 Bump Seader to v3.4
  applications/NFC/seader/manifest.yml
Labels: app (update), QA pending

#833 Add FlipMap v0.1
  applications/GPIO/flip_map/manifest.yml
Labels: app (update), QA pending

#834 Update FlipSocial to v2.0.1
  applications/GPIO/flip_social/manifest.yml
Labels: app (update)

#837 Bump Picopass to v1.20
  applications/NFC/picopass/manifest.yml
Labels: app (update), QA pending

#822 Publish Mouse Jiggler v1.0 to Flipper Labs
  applications/USB/mouse_jiggler/README.md
  applications/USB/mouse_jiggler/manifest.yml
Labels: app (new), fixes needed

#840 Update FlipMap to v0.2
  applications/GPIO/flip_map/manifest.yml
Labels: app (update), QA pending

#844 Add FlipperHTTP companion app
  applications/GPIO/flipper_http/manifest.yml
Labels: app (update), QA pending
