Repository flipperdevices/flipper-application-catalog, pull requests merged in 2025-04, with the labels that each got.

#670 Passy: passport reader
  applications/NFC/passy/manifest.yml
Labels: app (new), QA pending

#674 Bump INA Meter to v0.4
  applications/GPIO/ina_meter/manifest.yml
Labels: app (update), QA pending

#676 Add sio2flip v0.1
  applications/GPIO/sio2flip/manifest.yml
Labels: app (new), QA pending

#677 Update FlipWorld to v0.8 (Multiplayer Support)
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#679 Bump passy to 1.0
  applications/NFC/passy/manifest.yml
Labels: app (update), QA pending

#675 Flipper Keyller
  applications/Misc/executor_keychain/manifest.yml
Labels: app (new), fixes needed

#678 Add FlipDownloader v1.0
  applications/GPIO/flip_downloader/manifest.yml
Labels: app (update), QA pending

#681 Update FlipWorld to v0.8.1
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#684 PC Monitor 1.1.3
  applications/Bluetooth/pc_monitor/manifest.yml
Labels: app (update), QA pending

#672 Seos compatible reader/emulator (NFC/BLE)
  applications/NFC/seos/manifest.yml
Labels: app (new), QA pending

#685 Update FlippAirMouse to build with SDK 85
  applications/GPIO/air_mouse/manifest.yml
Labels: app (update), QA pending

#687 Update FastJS app to v1.3 (furippa bot response for 1.3 RC)
  applications/Tools/fast_js_app/manifest.yml
Labels: app (update), QA pending

#689 Update INA Meter to v0.5
  applications/GPIO/ina_meter/manifest.yml
Labels: app (update), QA pending

#690 Add Midea AC Remote v1.0
  applications/Infrared/midea_ac_remote/manifest.yml
Labels: app (new), app (update)

#691 Updated noptel_lrf_sampler to 2.1
  applications/GPIO/noptel_lrf_sampler/manifest.yml
Labels: app (update), QA pending

#692 Updated hc11_modem to 1.2
  applications/Sub-GHz/hc11_modem/manifest.yml
Labels: app (update), QA pending

#694 Updated Flipper95 to v1.1
  applications/Tools/flipper95/manifest.yml
Labels: app (update), QA pending

#695 Update tamagometer_companion to v0.3
  applications/Infrared/tamagometer_companion/manifest.yml
Labels: app (update), QA pending

#696 Bump passy to 1.1
  applications/NFC/passy/manifest.yml
Labels: app (update), QA pending

#700 Flipper SPI Terminal v0.4
  applications/GPIO/flipper_spi_terminal/manifest.yml
Labels: app (update), QA pending

#702 fn_test SDK 1.3.2 support
  applications/GPIO/fn_test/manifest.yml
Labels: app (update), QA pending

#703 Update FlipWiFi to 1.5
  applications/GPIO/flip_wifi/manifest.yml
Labels: app (update), QA pending

#704 Flipper Keyller
  applications/Media/executor_keychain/manifest.yml
Labels: app (update), QA pending

#693 Cupprum/blinker v1.0
  applications/Tools/blinker/README.md
  applications/Tools/blinker/manifest.yml
Labels: app (new), QA pending

#688 Tools: Fix for Python 3.13
  tools/requirements.txt
Labels: dependencies, python

#698 add Flipperpose v1.0
  applications/Games/flipperpose/manifest.yml
Labels: app (new), QA pending

#709 github: pinned tj-actions/changed-files version with sha
  .github/workflows/bundle.yml
Labels: dependencies, github_actions

#682 Update Flizzer tracker app
  applications/Media/flizzer_tracker/manifest.yml
Labels: app (update), fixes needed

#683 Update video player app
  applications/Media/video_player/manifest.yml
Labels: app (update), fixes needed

#705 Update sio2flip to v0.2
  applications/GPIO/sio2flip/manifest.yml
Labels: app (update), QA pending

#707 Bump passy to 1.2
  applications/NFC/passy/manifest.yml
Labels: app (update), QA pending

#708 signal_generator: fixed crash on start, added changelog file
  applications/GPIO/signal_generator/manifest.yml
Labels: app (update), QA pending

#712 Add UV Meter v1.0
  applications/GPIO/uv_meter_as7331/manifest.yml
Labels: app (new), QA pending

#715 Update uPython to 1.8.0
  applications/Tools/upython/manifest.yml
Labels: app (update), QA pending

#713 Update FlipWorld to v0.8.2
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), QA pending

#714 Update FlipWiFi to v1.5.1
  applications/GPIO/flip_wifi/manifest.yml
Labels: app (update), QA pending

#716 Update FlipSocial to v1.1
  applications/GPIO/flip_social/manifest.yml
Labels: app (update), QA pending

#718 Update avr_isp_programmer to v1.5
  applications/GPIO/avr_isp/manifest.yml
Labels: app (update), QA pending

#723 Bump passy to 1.3
  applications/NFC/passy/manifest.yml
Labels: app (update), QA pending

#724 Update fcom to 1.5
  applications/GPIO/fcom/manifest.yml
Labels: app (update), QA pending

#720 Orion w06/flame rng/0.01
  applications/Infrared/flame_rng/manifest.yml
Labels: app (new), QA pending

#721 New app: Weebo
  applications/NFC/weebo/manifest.yml
Labels: app (new), QA pending

#722 Update FlipWorld to v0.8.3 and FlipWiFi to v1.5.2
  applications/GPIO/flip_wifi/manifest.yml
  applications/GPIO/flip_world/manifest.yml
Labels: app (update), fixes needed

#730 Updated Authenticator to v5.18.0
  applications/Tools/totp/manifest.yml
Labels: app (update), QA pending

#729 Add UDECard v1.0.1
  applications/NFC/udecard/manifest.yml
Labels: app (new), QA pending
